<section class="league-selector">
  <a class="btn" href="/">Home</a>
  <a class="btn" href="/league/88">Eredivisie</a>
  <a class="btn" href="/league/89">eerste divisie</a>
  <a class="btn" href="/league/39">Premier League</a>
  <a class="btn" href="/league/78">Bundesliga</a>
  <a class="btn" href="/league/140">LaLiga</a>
  <a class="btn" href="/league/135">Serie A</a>
  <a class="btn" href="/league/61">Ligue 1</a>
</section>
