<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {headTitle: 'Dashboard'}) %>
  <body>
    <div id="events"></div>

    <%- include('./partials/navigation') %>

    <script src="/js/main.js"></script>
  </body>
</html>
