<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <a href="/about">about</a>
    <ul>
      <% results.forEach(movie => { %>
      <li>Name: <%= movie.title %></li>
      <img
        style="width: 30%"
        src="https://image.tmdb.org/t/p/original<%= movie.poster_path %>"
        alt=""
      />
      <% }) %>
    </ul>
  </body>
</html>
