<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="view-transition" content="same-origin" />
    <title>Document</title>
  </head>
  <body>
    <a href="/about">about</a>
    <ul>
      <% results.forEach(movie => { %>
      <li>Name: <%= movie.title %></li>
      <img
        style="width: 30%"
        src="https://image.tmdb.org/t/p/original<%= movie.poster_path %>"
        alt=""
      />
      <% }) %>
    </ul>
  </body>
</html>
