.genres_wrapper {
  display: flex;
  gap: 1rem;
}

.section_categories {
  display: flex;
  flex-direction: column;

  margin-bottom: 5rem;
}

.category-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 10rem;
}

.movie_poster {
  width: 30rem;
}

.movie_overview {
  text-wrap: balance;
}
